
<div class="row">
	<div class="col-md-2">
		<%=link_to  'Crear plantilla', template_path, class:"btn btn-primary"%>
	</div>
</div>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Numero de criterios</th>
				<th>Ver</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Plantilla Centro America</td>
				<td>5</td>
				<td><%=link_to  raw("VER"), sendtoauction_path(4),class:"btn btn-primary"%></td>
			</tr>
			<tr>
				<td>Plantilla Europa</td>
				<td>5</td>
				<td><%=link_to  raw("VER"), sendtoauction_path(7),class:"btn btn-primary"%></td>
			</tr>
		</tbody>
	</table>
</div>
<%if @templates.empty?%>
	<div class="row">
		no hay plantillas
	</div>
<%else%>
	<div class="row">
		<table>
			<thead>
				<tr>
					<th>name</th>
					<th>criteria</th>
					<th>actions</th>
				
				</tr>
			</thead>
			<tbody>
			<%@templates.each do |template|%>
				<tr>
					<td><%=template.name%></td>
					<td><%=template.criteria['payload'][0]%></td>
					<td>acciones</td>
				</tr>
			<%end%>				
			</tbody>
		</table>
		
	</div>
<%end%>
