<%if !@oportunities.empty?%>
<div class="row">
	<%= form_tag '/',method: :get do %>
	<div class="form-group">
		
		<div class="col-md-12">
			<div class="col-md-3 col-xs-3 col-lg-3">
				<label for="file">Estado:</label>
				<%= select_tag "status", options_for_select(@status),class:"form-control"%>
			</div>
			<div class="col-md-3 col-xs-3 col-lg-3">
				<label for="file">Buscar:</label>
				<%=text_field_tag 'name',nil,class:"form-control"%>
			</div>
			<div class="col-md-2 filters-button">
				
				<%= submit_tag('Cargar',class:'btn btn-success') %>
			</div>
		</div>

		
		
	</div>
	<% end %>
</div>
<hr>

<table class="table table-striped">
	<thead>
		<tr>
			<th>identificacion</th>
			<th>Fuente</th>
			<th>socio asignado</th>
			<th>Estado</th>
			<th>Compañia</th>
			<th>Email</th>
			<th>Detalle</th>
		</tr>
	</thead>
	<tbody>
		<%@oportunities.each do |oportunity|%>
		<tr>
			<td><%=oportunity.identification%></td>
			<td><%=oportunity.oportunity_source%></td>
			<td><%=oportunity.assigned_partner%></td>
			<td><%=oportunity.status%></td>
			<td><%=oportunity.company_name%></td>
			<td><%=oportunity.contact_email%></td>
			<td><%=link_to  raw("<i class=\" glyphicon glyphicon-log-in\"></i>"), show_oportunity_path(oportunity),class:"btn btn-success"%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<div class="col-md-12 text-center">
	<%= will_paginate @oportunities,renderer: BootstrapPagination::Rails%>
</div>
<%else%>
No hay oportunidades!
<%end%>