<div class="row oportunity-info">
	<div class="col-md-3 form-grup">
		<p class="opportunity-item-tittle">Identification</p>
		<p><%=@oportunity.identification%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Source</p>
		<p><%=@oportunity.oportunity_source%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Assigned partner</p>
		<p><%=@oportunity.assigned_partner%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Status</p>
		<%=@oportunity.status%>
	</div>
</div>
<hr>
<div class="row oportunity-info">
	<div class="col-md-3 form-grup">
		<p class="opportunity-item-tittle">Company name</p>
		<p><%=@oportunity.company_name%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Conatact Email</p>
		<p><%=@oportunity.contact_email%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Phone</p>
		<p><%=@oportunity.business_phone%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Auction ID</p>
		<%=@oportunity.auction_id%>
	</div>
</div>
<hr>
<div class="row col-md-12">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default panel-blue">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						Items
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="opportunity-item-tittle">Product</th>
								<th class="opportunity-item-tittle">Sku</th>
								<th class="opportunity-item-tittle">Quantity</th>
								<th class="opportunity-item-tittle">Unit Price</th>
							</tr>
						</thead>
						<tbody>
							<%@items.each do |item|%>
							<tr>
								<td><%=item.product%></td>
								<td><%=item.sku%></td>
								<td><%=item.quantity%></td>
								<td><%=number_to_currency(item.unit_price)%></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row col-md-12">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default panel-blue">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						Resellers
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								
								<th class="opportunity-item-tittle">Reseller name</th>
								
								<th class="opportunity-item-tittle">Price</th>
								<th class="opportunity-item-tittle">Training hours</th>
								<th class="opportunity-item-tittle">Support hours</th>
								<th class="opportunity-item-tittle">Local Support</th>
								<th class="opportunity-item-tittle">Support availability</th>
								<th class="opportunity-item-tittle">Migration hours</th>
							</tr>
						</thead>
						<tbody>
							<%@oportunityProvider.each do |oportunityprovider|%>
							<tr>
								
								<td><%=oportunityprovider.vendor_name%></td>
								
								<td><%=number_to_currency(oportunityprovider.price)%></td>
								<td><%=oportunityprovider.training_hours%></td>
								<td><%=oportunityprovider.support_hours%></td>
								<td><%=oportunityprovider.local_support%></td>
								<td><%=oportunityprovider.support_availability%></td>
								<td><%=oportunityprovider.migration_hours%></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
