<div class="row oportunity-info">
	<div class="col-md-3 form-grup">
		<p class="opportunity-item-tittle">Identificación</p>
		<p><%=@oportunity.identification%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Fuente</p>
		<p><%=@oportunity.oportunity_source%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Socio asignado</p>
		<p><%=@oportunity.assigned_partner%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Estado</p>
		<%=@oportunity.status%>
	</div>
</div>
<hr>
<div class="row oportunity-info">
	<div class="col-md-3 form-grup">
		<p class="opportunity-item-tittle">Nombre de la compañia</p>
		<p><%=@oportunity.company_name%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Email de contacto</p>
		<p><%=@oportunity.contact_email%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">Teléfono</p>
		<p><%=@oportunity.business_phone%></p>
	</div>
	<div class="col-md-3">
		<p class="opportunity-item-tittle">ID de la subasta</p>
		<%=@oportunity.auction_id%>
	</div>
</div>
<hr>
<div class="row col-md-12">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default panel-blue">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						Items
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="opportunity-item-tittle">Producto</th>
								<th class="opportunity-item-tittle">Sku</th>
								<th class="opportunity-item-tittle">Cantidad</th>
								<th class="opportunity-item-tittle">Precio</th>
							</tr>
						</thead>
						<tbody>
							<%@items.each do |item|%>
							<tr>
								<td><%=item.product%></td>
								<td><%=item.sku%></td>
								<td><%=item.quantity%></td>
								<td><%=item.unit_price%></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row col-md-12">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default panel-blue">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						Canales
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								
								<th class="opportunity-item-tittle">Nombre del canal</th>
								
								<th class="opportunity-item-tittle">Precio</th>
								<th class="opportunity-item-tittle">Horas capacitación</th>
								<th class="opportunity-item-tittle">Horas soporte</th>
								<th class="opportunity-item-tittle">Soporte local</th>
								<th class="opportunity-item-tittle">Disponibilidad soporte</th>
								<th class="opportunity-item-tittle">Horas migracion</th>
							</tr>
						</thead>
						<tbody>
							<%@oportunityProvider.each do |oportunityprovider|%>
							<tr>
								
								<td><%=oportunityprovider.vendor_name%></td>
								
								<td><%=oportunityprovider.price%></td>
								<td><%=oportunityprovider.training_hours%></td>
								<td><%=oportunityprovider.support_hours%></td>
								<td><%=oportunityprovider.local_support%></td>
								<td><%=oportunityprovider.support_availability%></td>
								<td><%=oportunityprovider.migration_hours%></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
