<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
   p {
    white-space: pre;
    color: black;
  }
</style>
</head>
<body>
  <p>
  
  
    Cordial Saludo,


    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat ex id eros pellentesque placerat. Vestibulum pretium massa finibus convallis luctus. Mauris volutpat eget mauris non semper. Curabitur consectetur, metus nec venenatis auctor, tellus eros ullamcorper lorem, a sodales dui mi non lectus. Suspendisse et nulla urna. Nulla scelerisque ex ac condimentum mollis. Nullam euismod massa et elit mattis, malesuada laoreet sem pharetra. Morbi eu blandit nisl, nec mollis ante. Maecenas mollis nisi eget eros hendrerit hendrerit.    


    PRECIO :<%=@oportunityProvider.price%>
    HORAS DE SOPORTE :<%=@oportunityProvider.support_hours%>
    HORAS DE CAPACITACION :<%=@oportunityProvider.training_hours%>
    DISPONIBILIDAD DE SOPORTE:<%=@oportunityProvider.support_availability%>
    SOPORTE LOCAL:<%=@oportunityProvider.local_support%>
    HORAS DE MIGRACIÓN:<%=@oportunityProvider.migration_hours%>

    <a href="https://desolate-meadow-84025.herokuapp.com/contact/<%=@oportunity.id%>/<%=@oportunityProvider.id%>">Si</a>

    <a href="https://desolate-meadow-84025.herokuapp.com/reject/<%=@oportunity.id%>/<%=@oportunityProvider.id%>">No</a>
    
    
    

    
    

    Atentamente,


    Equipo gestion de oportunidades
    Microsoft
  </p>
</body>
</html>