<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
   p {
    white-space: pre;
    color: black;
  }
</style>
</head>
<body>
  <p>Greetings,

    Your current software licensing needs have been posted to a bidding engine to secure the best offer and value for your company. The best offer to fulfill your needs was the following:


    PRICE: <%=@oportunityProvider.price%>
    SUPPORT HOURS: <%=@oportunityProvider.support_hours%>
    TRAINING HOURS: <%=@oportunityProvider.training_hours%>
    SUPPORT AVAILABILITY:<%=@oportunityProvider.support_availability%>
    LOCAL SUPPORT: <%=@oportunityProvider.local_support%>
    MIGRATION HOURS:<%=@oportunityProvider.migration_hours%>

    If you agree to this offer, <a href="https://desolate-meadow-84025.herokuapp.com/contact/<%=@oportunity.id%>/<%=@oportunityProvider.id%>">click here</a> to be contacted. 

    If you DO NOT agree, please <a href="https://desolate-meadow-84025.herokuapp.com/reject/<%=@oportunity.id%>/<%=@oportunityProvider.id%>">click here</a>
    
    
    

    
    

    Atentamente,


    Equipo gestion de oportunidades
    Microsoft
  </p>
</body>
</html>