<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
   p {
    white-space: pre;
    color: black;
  }
</style>
</head>
<body>
  <p>
    Greetings,


    It is our pleasure to notify you that your organization has obtained the best score for the opportunity  #<%=@oportunity.identification%>
    generated for customer: <%=@oportunity.company_name%> the day: 20/03/2017.

    It is important to remark that you must guarantee the conditions you offered to this customer that resulted in you being selected as a winner.


    PRICE :<%=@oportunityProvider.price%>
    SUPPORT HOURS :<%=@oportunityProvider.support_hours%>
    TRAINING HOURS :<%=@oportunityProvider.training_hours%>
    SUPPORT AVAILABILITY:<%=@oportunityProvider.support_availability%>
    LOCAL SUPPORT:<%=@oportunityProvider.local_support%>
    MIGRATION HOURS:<%=@oportunityProvider.migration_hours%>
    

    Remember that this process is time sensible and you should contact this customer within the next 24 business hours. In the event that you do not want to continue with this process or you do not contact the customer within the time allocated, we will proceed with the reseller that obtained the best score after your company.

    
    To confirm that you successfully contacted the customer, please <a href="https://desolate-meadow-84025.herokuapp.com/take_opportunity/<%=@oportunity.id%>/<%=@oportunityProvider.id%>">click here</a>
    

    Attention,

    Opportunity Management Team

    Microsoft
  </p>
</body>
</html>
