<!DOCTYPE html>
<html>
<head>
  <title>Oportunities</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- <script type="text/javascript" src="vendor/assets/javascripts/jquery.multi-select.js"></script>
  <link href="vendor/assets/multi-select.css" media="screen" rel="stylesheet" type="text/css"> -->
</head>
<body>
  <div class="page-container">
    <%= render '/layouts/navbar'%>
    <div class="container fixed-container"> 
      <%= yield %>      
    </div>
  </div>
</body>
</html>
